@model sdop.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HQAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HQAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomeOutcomeB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomeOutcomeB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSalesmen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSalesmen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFactories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfFactories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewDrugRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewDrugRate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
