@model IEnumerable<sdop.Models.Prescription>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiseaseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiseaseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiseaseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfPrescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescriptionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimesRepeated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiseaseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiseaseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiseaseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfPrescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescriptionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimesRepeated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Barcode }) |
            @Html.ActionLink("Details", "Details", new { id=item.Barcode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Barcode })
        </td>
    </tr>
}

</table>
