@model sdop.Models.Drug

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Drug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DrugId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrugId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrugSerialCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrugSerialCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrugType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrugType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Package)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Package)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DrugName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
